.section {
  background-color: rgb(106, 154, 31, 0.6);
  border: solid 15px rgb(106, 154, 31);
  padding: 20px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(106, 154, 31, 0.55);
  text-align: left;
}

img {
  position: relative;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  margin: 0 0 0 0;
}

/* 
rgb(0, 172, 233) blue
rgb(212, 63, 63) red
rgb(106, 154, 31) green
rgb(246, 246, 232) light
rgb(64, 64, 64) dark
*/
