.App {
  text-align: center;
  font-family: Barlow;
  color: black;
}

body {
  background-color: rgb(64, 64, 64, 0.9);
}

@media only screen and (max-width: 600px) {
}

/* 
rgb(0, 172, 233) blue
rgb(212, 63, 63) red
rgb(106, 154, 31) green
rgb(246, 246, 232) light
rgb(64, 64, 64) dark
*/
