.App {
  text-align: center;
  font-family: Barlow;
  color: black;
}

body {
  background-color: rgb(64, 64, 64, 0.9);
}

h1 {
  background-color: rgb(64, 64, 64, 0.4);
  color: #f6f6e8;
  font-family: "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
h1:hover,
h1:visited,
h1:link,
h1:active {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(64, 64, 64);
  }
}

/* 
rgb(0, 172, 233) blue
rgb(212, 63, 63) red
rgb(106, 154, 31) green
rgb(246, 246, 232) light
rgb(64, 64, 64) dark
*/
